@page
@model ChernabogJailApp.Pages.RuleBook.Beasts.DetailsModel

@{
    ViewData["Title"] = $"Существо \"{Model.Beast.Name}\"";
}

<div>
    <h1 class="d-flex flex-row gap-3">
        <span style="text-align: right;">@Html.DisplayFor(modelItem => Model.Beast.Name)</span>
    </h1>
    @if (Model.Beast.BeastCategory is not null)
    {
        <a data-bs-toggle="collapse" href="#collapseCategoryDescription" role="button" aria-expanded="false" aria-controls="collapseCategoryDescription">
            <h4 style="font-style: italic">@Html.DisplayFor(model => model.Beast.BeastCategory.Name)</h4>
        </a>
        <div class="collapse" id="collapseCategoryDescription">
          <div class="card card-body">
            @Model.Beast.BeastCategory.Description
          </div>
        </div>
    }
    <hr />
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.BeastVariation[0].Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BeastVariation[0].HitDice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BeastVariation[0].ArmorClass)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BeastVariation[0].Attack)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BeastVariation[0].Damage)
                    </th>
                    <th>
                        Перемещение
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BeastVariation[0].BattleSpirit)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BeastVariation[0].SaveRoll)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BeastVariation[0].Skill)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.BeastVariation)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HitDice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ArmorClass)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Attack)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Damage)
                        </td>
                        <td>
                            @if (item.Movement > 0)
                            {
                                <span>Движение: @Html.DisplayFor(modelItem => item.Movement)</span>
                                <br />
                            }
                            @if (item.Swim > 0)
                            {
                                <span>Вплавь: @Html.DisplayFor(modelItem => item.Swim)</span>
                                <br />
                            }
                            @if (item.Fly > 0)
                            {
                                <span>Полет: @Html.DisplayFor(modelItem => item.Fly)</span>
                                <br />
                            }
                            @if (item.Teleport > 0)
                            {
                                <span>Телепортация: @Html.DisplayFor(modelItem => item.Teleport)</span>
                                <br />
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BattleSpirit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SaveRoll)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Skill)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="mb-2">
            @Html.DisplayFor(model => model.Beast.Description)
        </div>
</div>
<div class="d-flex flex-row justify-content-left gap-2">
    <a href='javascript:window.location = document.referrer'>
        <i class="btn btn-dark fa fa-arrow-left" aria-hidden="true"></i>
    </a>
    @if (User.IsInRole("Admin") || User.IsInRole("Editor"))
    {
        <a asp-page="./Edit" asp-route-id="@Model.Beast?.Id">
            <i class="btn btn-dark fa fa-edit" aria-hidden="true"></i>
        </a>
    }
</div>
