@page
@model ChernabogJailApp.Pages.RuleBook.Beasts.Variations.IndexModel

@{
    ViewData["Title"] =  $"Вариации существа \"{Model.Beast.Name}\"";
}

<div class="d-flex flex-column mb-2">
    <div class="d-flex flex-row justify-content-between align-items-baseline">
        <h1>@ViewData["Title"]</h1>
        <div>
            <a asp-page="/RuleBook/Beasts/Edit" asp-route-id="@Model.Beast.Id" title="Назад" class="btn btn-outline-primary" style="text-align: center;">
                <i class="fa fa-arrow-left align-baseline" aria-hidden="true"></i>
            </a>
            @if (User.IsInRole("Admin") || User.IsInRole("Editor"))
            {
                <a asp-page="./Create" asp-route-id="@Model.Beast.Id" title="Добавить" class="btn btn-outline-primary" style="text-align: center;">
                    <i class="fa fa-add align-baseline" aria-hidden="true"></i>
                </a>
            }
        </div>
    </div>
</div>
<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BeastVariation[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeastVariation[0].HitDice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeastVariation[0].ArmorClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeastVariation[0].Attack)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeastVariation[0].Damage)
            </th>
            <th>
                Перемещение
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeastVariation[0].BattleSpirit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeastVariation[0].SaveRoll)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeastVariation[0].Skill)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BeastVariation) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HitDice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArmorClass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attack)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Damage)
            </td>
            <td>
                @if (item.Movement > 0)
                {
                    <span>Движение: @Html.DisplayFor(modelItem => item.Movement)</span>
                    <br />
                }
                @if (item.Swim > 0)
                {
                    <span>Вплавь: @Html.DisplayFor(modelItem => item.Swim)</span>
                    <br />
                }
                @if (item.Fly > 0)
                {
                    <span>Полет: @Html.DisplayFor(modelItem => item.Fly)</span>
                    <br />
                }
                @if (item.Teleport > 0)
                {
                    <span>Телепортация: @Html.DisplayFor(modelItem => item.Teleport)</span>
                    <br />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BattleSpirit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaveRoll)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Skill)
            </td>
            <td>
                <a asp-page="./Edit" class="btn btn-dark" asp-route-id="@item.BeastId"><i class="fa fa-pencil"></i></a>
                <a asp-page="./Delete" class="btn btn-danger" asp-route-id="@item.BeastId"><i class="fa fa-remove"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
