@page
@model ChernabogJailApp.Pages.RuleBook.SpecialPowers.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h3>Вы действительно хотите удалить особую способность?</h3>
<div>
    <h4 class="d-flex flex-row gap-3">
        @(await Html.PartialAsync("_SpecialPowerClassIcon", Model.SpecialPower.Class))
        <span style="text-align: right;">@Html.DisplayFor(modelItem => Model.SpecialPower.Name)</span>
    </h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SpecialPower.Class)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SpecialPower.Class)
        </dd>
        @if (Model.SpecialPower.Level is not null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SpecialPower.Level)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SpecialPower.Level)
            </dd>
        }
        @if (Model.SpecialPower.Sphere is not null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SpecialPower.Sphere)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SpecialPower.Sphere)
            </dd>
        }
        @if (Model.SpecialPower.Time is not null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SpecialPower.Time)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SpecialPower.Time)
            </dd>
        }
        @if (Model.SpecialPower.Points is not null && Model.SpecialPower.Points > 0)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SpecialPower.Points)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SpecialPower.Points)
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SpecialPower.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SpecialPower.Description)
        </dd>
    </dl>
        
    <form method="post" class="d-flex flex-row justify-content-between">
        <input type="hidden" asp-for="SpecialPower.Id" />
        <a asp-page="./Index"><i class="btn btn-dark fa fa-arrow-left rounded-start" aria-hidden="true"></i></a>
        <input type="submit" value="Удалить" class="btn btn-danger rounded-end" />
    </form>
</div>
